{% extends "base.html" %} {% block content %}
<div class="container">
    <h2 class="mb-3">Lista de Tareas</h2>
    <a href="{% url 'task_create' %}" class="btn btn-primary">Crear nueva tarea</a>
    <ul class="list-group">
        {% for task in tasks %}
        <li class="list-group-item">
            <a href="{% url 'task_detail' task.pk %}" class="text-decoration-none">{{ task.title }}</a> - {{ task.get_status_display }}
            <div class="float-end">
                <a href="{% url 'task_edit' task.pk %}" class="btn btn-sm btn-secondary">Editar</a>
                <a href="{% url 'task_delete' task.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}