{% extends "base.html" %} {% block content %}
<style>
    body {
        background-image: url('background-image.jpg');
        background-size: cover;
        background-position: center;
    }
</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success text-center">
                <h2>Bienvenido, {{ user.username }}!</h2>
                <p>Has iniciado sesión correctamente en TodoApp.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}